.sag{background-color:rgb(226, 243, 209);
height: 60px;
margin-top: 30px;}
.sar{background-color:rgb(198, 198, 174);
float: left;
height: 400px;
margin-left: 85px;
margin-top: 30px;
border-radius: 25px;}
    
