
.sir{background-image: url(https://www.nopcommerce.com/images/thumbs/0018697_selling-spare-parts-foxnetsoftcom.png);
    height: 650px;
    width:700px ;
margin-left:80px ;
margin-top:px;
background-color: rgb(188, 234, 234);
border-radius: 3%;}
.bar{padding: 5px;}
