.nat{height: 400px;
    width:400px ;
margin:auto ;
margin-top: 100px;
background-color: rgb(188, 234, 234);
border-radius: 3%;}
.sat{padding: 5px;}
.rat{background-image: url(https://media.istockphoto.com/id/1212230930/photo/car-engine-parts.jpg?s=612x612&w=0&k=20&c=YCG4lzjxDYTFQQ-gOniW-r-Xl-th73hBOrcnvdiU274=);
  height: 600px;
    padding: 50px;}