.war{background-image: url(https://cdn1.vectorstock.com/i/1000x1000/30/85/auto-spare-parts-seamless-pattern-vector-8063085.jpg);}
.star{height: 450px;
    width:400px ;
margin:auto ;
margin-top:px;
background-color: rgb(188, 234, 234);
border-radius: 3%;}
.mar{padding: 5px;}
